@charset "utf-8";
@font-face{
    font-family: 'VoyagerGrotesque';
    src: url(font/VoyagerGrotesque.ttf);
}

@font-face{
    font-family: 'NeogreyRegular';
    src: url(font/NeogreyRegular.otf);
}
.text-center{
    text-align: center;
}

.subtitle{
    text-align: center;
    font-family: NeogreyRegular;
}

.customHR_1{
    color: #1e90ff;
    border-top: 5px double ;
}

.send_button{
    text-align: center;
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	color: rgb(28, 208, 221);
	background: #d7e4e4;
}